:root {
  --mainBrown: #2d1ef1;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.25rem !important;
}



